.not-found {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  text-align: center;
  height: 87.5vh;
  font-family: "Megrim", cursive;
}
.not-found .error-text {
  font-size: 60px;
}
.not-found a {
  text-decoration: none;
  border: 2px solid #1f425d;
  padding: 10px 20px;
}
.not-found a:hover {
  background-color: #1f425d;
  color: #fff;
}
