/* common css */
.custom-btn {
  border: none;
  background-color: #4ab9cf;
  width: 180px;
  height: 45px;
  margin: 5px;
  border-radius: 10px;
  color: #fff;
  cursor: pointer;
  text-transform: capitalize;
}
.custom-btn:hover {
  background-color: #1f425d;
}
.section-padding {
  padding: 80px 0;
}

.section-title {
  text-align: center;
  text-transform: uppercase;
  font-size: 35px;
  margin-bottom: 30px;
}
.table-btn {
  background-color: #4ab9cf;
  border: none;
  color: #fff;
  border-radius: 5px;
  padding: 5px;
}
.table-btn:hover {
  background-color: #1f425d;
}

/* responsive coding */
@media (max-width: 991.98px) {
  .banner-area h1 {
    font-size: 30px !important;
    line-height: 32px !important;
  }
  .custom-btn {
    width: 160px;
    height: 40px;
  }
  .section-title {
    font-size: 30px;
  }
}
@media (max-width: 575.98px) {
  .news-letter-area {
    text-align: center;
  }
  .news-letter-area form input {
    width: 100% !important;
    margin-bottom: 10px;
  }
}
